body {
  background-color: maroon;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

#lessons {
  padding-left: 600px;
  padding-top: 180px;
}

#sortingLessons {
  padding-right: 100px;
  padding-bottom: 50px;
}

#displayCart {
  padding-left: 600px;
  padding-top: 200px;
}

#heading1{
  padding-left: 10px;
  font-weight: bold;
}

#heading2{
  padding-left: 100px;
}

.details {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.details {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#cart-details {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

#logo {
  padding-left: 500px;
}
