<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title id="header" v-text="cartTitle"></title>
</head>

<body>

    <div class="navbar">
        <img v-bind:src="logoImage" alt="Logo" id="logo">
        <button id="btnLessons" v-on:click="goToLessons()">Lessons</button>
    </div>

    <div id="displayCart">
        <div v-for="(cart, index) in carts">
            <div id="cart-details">
                <h1>{{ cart.SubjectName }}</h1>
                <p>Location: {{ cart.Location }}</p>
                <p>Price: £{{ cart.Price }}</p>
                <p>Spaces: {{ cart.Space }}</p>
                <img v-bind:src="cart.Image" height="60px" width="60px">
                <br>
                <br>
                <button v-bind:id="cart.ButtonID" v-on:click="removeLesson(cart)">{{ ButtonRemove }}</button>
            </div>
        </div>
    </div>

    <!--------------------------------------------------

    <ol id="example-1">
        <div v-for="(key, item) in items">
            <div id="cart-details">
                <h1>{{ key.message }}</h1>
                <button v-on:click="removeElement(key)">remove</button>
            </div>
        </div>
    </ol>

---------->

</body>
<script src="js/application.js"></script>
<script src="js/data.js"></script>

</html>